**/*.bak
**/*.pyc
**/*.swp
**/*~
**/log.txt


/commit.log
/src/cscope.files
/src/cscope.out
/env.sh

/bin/
/build/
/ClientLib/
/Debug/
/DebugClientGen/
/DebugGen/
/dev/
/Release/
/ReleaseClientGen/
/ReleaseGen/
/ServerLib/
/src/examples/SSD/*.bak
/src/frcnn/bak/
/src/log/HotCode.cpp
/src/log/HotCode.h
/src/param/Param.cpp
/src/param/Param.h
/src/perf/PerfList.cpp
/src/perf/PerfList.h
/src/prop/EnumDef.cpp
/src/prop/EnumDef.h
/src/prop/LayerPropList.cpp
/src/prop/LayerPropList.h
/src/prop/NetworkProp.cpp
/src/prop/NetworkProp.h
/ToolDenorm/
/ToolDenormGen/
/ToolImageGen/
/ToolMnist/
/ToolMnistGen/

/src/examples/Inception/deploy_inception_v3_caffe.json
/src/examples/Inception/deploy_inception_v3_caffe_test.json
/src/examples/Inception/deploy_inception_v3_nvcaffe.json
/src/examples/Inception/inception_v3_train_test.json
/src/examples/Inception/inception_v3_train_test_t3.json
/src/examples/Inception/scale_test.json
/src/examples/LeNet/lenet_test_live_jh.json
/src/examples/ResNet/ResNet-101-deploy.json
/src/examples/ResNet/ResNet-152-deploy.json
/src/examples/ResNet/ResNet-50-deploy.json
/src/examples/ResNet/resnet18.test.json
/src/examples/ResNet/resnet50.test.json
/src/examples/frcnn/frcnn_train_1epoch.json
/src/pyapi/test/builder.py
/src/pyapi/test/jongheonTest.py

/scripts/sdf_convert/test_list.json
/src/layer_list.txt
